<%-include( "partials/header" )%>

    <div class="container compose ">
        <div class="content-wrapper">
            <h1>About</h1>
            <p class="padding">
                <%=aboutContent%>
            </p>
        </div>
    </div>

    <%-include( "partials/footer" )%>