<%-include( "partials/header" )%>

    <div class="container compose ">
        <div class="content-wrapper">
            <ul class="d-flex list">
                <li> <a href="https://github.com/harris05">Github</a> </li>
                <li> <a href="nagariharish7@gmail.com">Email</a></li>
                <li>Phone: 9836468934</li>
            </ul>
        </div>
    </div>

    <%-include( "partials/footer" )%>