<%-include( "partials/header" )%>

  <div class="container post ">
    <div class="content-wrapper">

      <h1 class="m-5 p-1 pb-2 mx-0 border rounded" style="width: fit-content;">
        <%= title %>
      </h1>

      <div class="padding ">
        <%=post%>
      </div>

    </div>
  </div>



  <%-include( "partials/footer" )%>